/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER	1
#define RAISE	2
#define SWEDISH 3

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   ?  |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   '   |     |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   | SWEDISH  | RAISE |  			| RAISE | L SHIFT |  N   |  M    |  ,    |  .   |   -   | SHIFT |
            //                     | CTRL  | ALT  | CMD  |  SPACE  |   LOWER   |    |   LOWER   |  RET  | BSPC  | DEL  | R-ALT |

            bindings = <
&kp ESC    &kp Q  &kp W  &kp E      &kp R     &kp T                                          &kp Y     &kp U    &kp I      &kp O       &kp P             &kp QUESTION
&kp TAB    &kp A  &kp S  &kp D      &kp F     &kp G                                          &kp H     &kp J    &kp K      &kp L       &kp SINGLE_QUOTE  &none
&kp LSHFT  &kp Z  &kp X  &kp C      &kp V     &kp B     &none        &tog 3  &none  &none    &kp N     &kp M    &kp COMMA  &kp PERIOD  &kp UNDER         &kp RSHFT
                         &kp LCTRL  &kp LALT  &kp LGUI  &lt 2 SPACE  &mo 1   &mo 1  &kp RET  &kp BSPC  &kp DEL  &kp RALT
            >;
        };

        symbols {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                                          |  6   |  7    |  8    |  9   |   0   |   =/+  |
            // |  TAB  |  @  |  "  |  #   |  $   |  %   |                                          |  LEFT   |  DOWN  |  UP  |  RIGHT   |   :   |   '  |
            // | SHIFT |  <  |  >  |  \   |  *   |  -   | ` | RAISE |  | RAISE | PIPE |  {   |  [    |  (    |  ~   |   -   | SHIFT|
            //                     | CTRL  | ALT  | CMD  |  SPACE  |   LOWER   |  |   LOWER   |  RET  | BSPC  | DEL  | R-ALT |

            bindings = <
&trans  &kp TILDE      &kp PLUS          &kp STAR         &kp EXCLAMATION  &none                                          &none      &kp HASH       &kp AT            &kp CARET          &none  &none
&trans  &kp PIPE       &kp LEFT_BRACE    &kp RIGHT_BRACE  &kp MINUS        &kp BACKSLASH                                  &kp GRAVE  &kp QUESTION   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none  &none
&trans  &kp LESS_THAN  &kp GREATER_THAN  &kp PERCENT      &none            &none          &none   &trans  &trans  &none   &none      &kp AMPERSAND  &none             &none              &none  &trans
                                         &trans           &trans           &trans         &trans  &trans  &trans  &trans  &trans     &trans         &trans
            >;
        };

        nav {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                                          |  6   |  7    |  8    |  9   |   0   |   =/+  |
            // |  TAB  |  @  |  "  |  #   |  $   |  %   |                                          |  LEFT   |  DOWN  |  UP  |  RIGHT   |   ;/:   |   '  |
            // | SHIFT |  <  |  >  |  \   |  *   |  -   | L SHIFT | RAISE |  | RAISE | PIPE |  {   |  [    |  (    |  ~   |   -   | SHIFT|
            //                     | CTRL  | ALT  | CMD  |  SPACE  |   LOWER   |  |   LOWER   |  RET  | BSPC  | DEL  | R-ALT |

            bindings = <
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                                  &kp N6    &kp N7    &kp N8    &kp N9     &kp N0     &kp EQUAL
&trans  &kp AT        &kp DQT       &kp HASH      &kp DLLR      &kp PRCNT                                     &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  &kp SEMI   &kp SQT
&trans  &kp LT        &kp GT        &kp BSLH      &kp ASTRK     &kp MINUS     &trans  &trans  &trans  &trans  &kp LBRC  &kp LBKT  &kp LPAR  &kp TILDE  &kp MINUS  &trans
                                    &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans    &trans    &trans
            >;
        };

        bt {
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans                                        &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                    &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
