/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER	1
#define RAISE	2
/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   Å  |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   Ö   |   Ä  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | RAISE |  			| RAISE | L SHIFT |  N   |  M    |  ,    |  .   |   /?   | SHIFT |
//                     | CTRL  | ALT  | CMD  |  SPACE  |   LOWER   |    |   LOWER   |  RET  | BSPC  | DEL  | R-ALT |
			bindings = <
	&kp ESC   &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P     &kp RA(W)
	&kp TAB   &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K     &kp L   &kp RA(P) &kp RA(Q)
	&kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &mo RAISE       		 &mo RAISE &kp LSHFT &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
	                 &kp LCTRL &kp LALT &kp LGUI &kp SPACE &mo LOWER        &mo LOWER  &kp RET  &kp BSPC &kp DEL &kp RALT
			>;

		};

		lower {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                                          |  6   |  7    |  8    |  9   |   0   |   =/+  |
// |  TAB  |  @  |  "  |  #   |  $   |  %   |                                          |  LEFT   |  DOWN  |  UP  |  RIGHT   |   }   |   '  |
// | SHIFT |  <  |  >  |  \   |  *   |  -   | L SHIFT | RAISE |  | RAISE | PIPE |  {    |  [    |  (    |  ~   |   -   | SHIFT|
//                     | CTRL  | ALT  | CMD  |  SPACE  |   LOWER   |  |   LOWER   |  RET  | BSPC  | DEL  | R-ALT |
			bindings = <
	&trans   &kp N1 &kp N2 &kp N3 &kp N4 &kp N5                                           &kp N6 &kp N7  &kp N8  &kp N9  &kp N0   &kp EQUAL
	&trans   &kp AT &kp DQT &kp HASH &kp DLLR &kp PRCNT                                   &kp LEFT  &kp DOWN  &kp UP   &kp RIGHT &kp RBRC  &kp SQT
	&trans   &kp LT &kp GT &kp BSLH &kp ASTRK &kp MINUS &kp LSHFT &trans           &trans &kp PIPE2 &kp LBRC &kp LBKT  &kp LPAR &kp TILDE  &kp MINUS &trans
	            	     	 &trans &trans &trans &trans &trans        &trans  &trans  &trans &trans &trans
			>;
		};
	};
};

